.panel.panel-default
  .panel-heading
    %h1.panel-title
      %strong
        = link_to article.title, article
        - if article.hiragana?
          = link_to "Normal",
                    article_path(article),
                    class: "btn btn-default btn-xs"
        - else
          = link_to "ひらがな",
                    hiragana_article_path(article),
                    class: "btn btn-default btn-xs"
      - if @login_user
        = link_to "Edit",
                  edit_article_path(article),
                  class: "btn btn-default btn-xs"
        = link_to "Destroy",
                  article,
                  class: "btn btn-default btn-xs",
                  method: :delete,
                  data: { confirm: "Are you sure?" }
  .panel-body
    .pull-right.container
      = qr_code(article_url(article))
    = preserve do
      = markdown article.text
    .container
      %strong @#{article.user.username}
      = link_to article do
        %small (#{datetime_format(article.created_at)})
    .social-share.container
      = render "shared/twitter", url: article_url(article)
      = render "shared/facebook_like", url: article_url(article)
      = render "shared/hatena_bookmark",
        url: article_url(article),
        title: "#{article.title} - blog.hogel.org"
  .panel-footer
    .comments
      = render "shared/facebook_comment", url: article_url(article)
