.panel.panel-default
  .panel-heading
    %h1.panel-title
      %strong= article.title
      - if @login_user
        = link_to "Edit",
                  edit_article_path(article),
                  class: "btn btn-default btn-xs"
        = link_to "Destroy",
                  article,
                  class: "btn btn-default btn-xs",
                  method: :delete,
                  data: { confirm: "Are you sure?" }
  .panel-body
    = markdown article.text
    .container
      %strong @#{article.user.username}
      = link_to article do
        %small (#{datetime_format(article.created_at)})
    .social-share.container
      = render "shared/twitter", url: article_url(article)
      = render "shared/facebook_like", url: article_url(article)
  .panel-footer
    .comments
      = render "shared/facebook_comment", url: article_url(article)
