.panel.panel-default
  .panel-heading
    %h1.panel-title
      %strong
        = link_to article.title, article
        - if article.hiragana?
          = link_to "Normal",
                    article_path(article),
                    class: "btn btn-default btn-xs"
        - else
          = link_to "ひらがな",
                    hiragana_article_path(article),
                    class: "btn btn-default btn-xs"
  .panel-body
    .pull-right.container
      = qr_code(article_url(article))
    = preserve do
      = markdown article.text
    .container
      %strong @#{article.user.username}
      = link_to article do
        %small (#{datetime_format(article.created_at)})
    .social-share.container
      = render_facebook_like url_for(article)
      = render_hatena_bookmark_button url_for(article), title: article.social_title
      = render_twitter_button url_for(article), title: article.social_title
  .panel-footer
    .comments
      = render_facebook_comment url_for(article)
      = render_disqus "articles/#{article.id}", article_url(article), article.social_title
