%nav.navbar.navbar-default{role: 'navigation'}
  .container
    .navbar-header
      %button.navbar-toggle{type: 'button',
                            data: {toggle: 'collapse',
                                   target: '.header-navbar-collapse'}}
        %span.icon-bar
      = link_to 'hogelog blog! blog!', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse.header-navbar-collapse
      %ul.nav.navbar-nav
        - if @login_user
          %li
            = link_to admin_path do
              %span.glyphicon.glyphicon-book Articles
          %li
            = link_to new_admin_article_path do
              %span.glyphicon.glyphicon-pencil New Article
          %li
            = link_to admin_logout_path do
              %span.glyphicon.glyphicon-user Logout
        - else
          %li
            = link_to articles_path do
              %span.glyphicon.glyphicon-book Archives
