!!! XML
!!!
%html
  %head
    %title
      #{@page_title ? "#@page_title - " : ""}hogelog blog! blog!
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    = render "shared/ogp_header"
  %body
    = render 'shared/google_analytics_body'
    .fb-root
    = render 'shared/navbar'
    .container
      = yield
